/*===========================================================================================================*/


@media only screen and (max-width: 1023px) {
	h1,a{ 
		font-size: 2.2em;
	}
	h2
	{
		font-size: 2.2em;
	}
	a:hover{
		font-size : 2.4em; 
	}
	.a_menu {
		font-size: 1.3em;
	}
	.a_menu:hover {
		font-size: 1.5em;
	}
	h3{
		font-size: 1.6em;
	}

	
}

@media only screen and (min-width: 1024px) {
	h1,a { 
		font-size: 2.8em;
	}
	
	h2
	{
		font-size: 2.8em;
	}
	a:hover{
		font-size : 3em; 
	}
	.a_menu {
		font-size: 1.9em;
	}
	.a_menu:hover {
		font-size: 2.1em;
	}
	h3{
		font-size: 2.2em;
	}
}



/*empeche selection txt et copier coller*/
html {
	-moz-user-select:-moz-none;
	-webkit-user-select:none;
	-khtlm-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	-user-select:none;	
}

/*pour que la selection soit transparante*/
::selection{
  background-color: rgba(0,0,0,0);
}

/* Firefox */
::-moz-selection {
  background-color: rgba(0,0,0,0);
}

/*==========================================================================================================*/
/*pour bordure de page*/
#top, #bottom, #left, #right {
	background-color: rgb(107, 91, 149);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 5px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 5px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
/*==========================================================================================================*/		
body {
	background-image: url("images/background2.jpg");
	background-size: cover;
	background-attachment: fixed;	
}

header {
	background-color: rgba(79, 68, 111,0.7);
	border: 5px solid rgb(107, 91, 149);
	margin-left: 5%;
	margin-right: 5%;	
}

table {
	width: 100%;
	border-spacing: 10px;
	height: 130px;
}

h1,a {
	text-align: center;
	color: rgb(250, 250, 250);
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	text-decoration: none;
}

h2 {
	text-align: center;
	color: rgb(250, 250, 250);
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
}

h3{
	color: white;
	margin-right: 8%;
	float: right;
}

h6 {
	margin-right: 5%;
	text-align: right;
	color: rgb(250, 250, 250);
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
	
}
td{
	/*border:1px solid white;*/
	width: 100%;
	text-align: center;
}

a:hover{	
	color: rgb(65, 244, 229);
	cursor: pointer;
}

#screen_blackboard0,#screen_blackboard1,#screen_blackboard2,#screen_blackboard3 {	
	margin-left: 5%;
	margin-right: 5%;
	background-image: url("images/blackboard.png");
	background-size: 100% 100%;

}

.a_menu {
	margin-left: 4%;
	float: left;
}

.a_menu:hover {
	text-decoration: underline;
}

.td_menu_10{
	width: 10%;
	height:50%;
	
}

.td_menu_w10_h30{
	width: 10%;
	height:30%;
	
}

.td_menu_w50_h30 {
    width: 50%;
    height: 30%;
}

.td_menu_25{
	width: 25%;
	height: 50%;
}

.td_menu_w25_h30{
	width: 25%;
	height: 30%;
}

.td_menu_30{
	width: 30%;
	height: 50%;
}

.td_menu_45{
	width: 45%;
	height: 50%;
}

.td_menu_50{
	width: 50%;
}

.td_menu_70 {
    width: 70%;
    height: 50%;
}

.td_menu_height_30
{
    height: 30%;
}


.menu{
	height:100%;
}

.border_padding {
	border: 1px solid white;
	padding: 1%;
}


.padding
{
	padding: 1%;
	
}

.text_top {
	vertical-align: top;
}

#div_message_user {
	width: 20%;
    height: 55%;
	background-size: 100% 100%;
    margin: auto;
	display: none;
}

#colorPicture {

	width: 25%;
    height: 50%;
    margin: auto;
	opacity: 0.95;
	border-radius: 50%;
}

#picture {

	width: 25%;
    height: 50%;
	background-size: 100% 100%;
    margin: auto;
	opacity: 0.95;

}

.picture {

	width: 25%;
    height: 50%;
	background-size: 100% 100%;
    margin: auto;
	opacity: 0.95;

}

.underline {
	text-decoration: underline;
}
#div_message {
	width: 60%;
    height: 60%;
	background-size: 100% 100%;
    margin: auto;
	z-index:10;
	display: none;
}

.border
{
	border: 3px solid white;	
	width: 4%;	
}

.no-border
{	
	width: 7%;
}

.td_height_30
{
	height: 30%;	
}

.photo_center{
	//display: block;
	margin-bottom: 10%;
    /*margin: auto;*/
	width: 10%;

}

.texteLeft
{
	text-align: left;
	
}

.texteRight
{
	text-align: right;
	
}

.caseDrop
{
	border: 3px solid white;
	width: 90%;
	height: 55%;
	margin: auto;

}

.caseDrag {
    //border: 3px solid white;
    width: 90%;
    height: 55%;
    margin: auto;
}

